@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: white;
  -webkit-text-stroke-color: black;
  font-size: 4.5rem;
}

h1 {
  -webkit-text-stroke-width: 2px;
}

h2 {
  -webkit-text-stroke-width: 2.5px;
}